name: Build and Deploy to Google Cloud Run

on:
  push:
    branches:
      - dev
      - main
jobs:
  execute-code-quality-validation:
    uses: ./.github/workflows/validate.yml@main
    with:
      eslint-enable: true
    secrets:
      token: ${{ secrets.GH_TOKEN }}

  execute-release:
    needs: execute-code-quality-validation
    uses: ./.github/workflows/release.yml@main
    with:
      branches: "${{ github.ref_name }}"
    secrets:
      token: ${{ secrets.GH_TOKEN }}

